{% extends "karioker/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata" >
        <a class="mr-4" href="{% url 'performer-songs' object.performer %}">{{ object.performer }}</a>
        <small class="text-muted">  
            lyrics by: <a class="mr-3", href="#"> {{ object.songwriter }}</a> 
            music by:  <a class="mr-3", href="#"> {{ object.composer }}</a>
            <a class="ml-4", href="{% url 'song-chords' object.id %}">  chords </a>
            {% if user.is_staff %}
              <a class="ml-3", href="{% url 'song-update' object.id %}">  edit </a>
              <a class="ml-3", href="{% url 'song-delete' object.id %}" >  delete </a>
            {% endif  %}
            {% if in_event %}
              <a class="ml-3", href="{% url 'event-add-song' event.id object.id %}" >  Add To My List </a>
            {% endif  %}
        </small>
      </div>
      <div align="{{object.alignment}}">
      <h2>{{ object.name }}</h2>
      <p class="article-content">{{ object.lyrics}}</p>
      </div>
    </div>
  </article>
{% endblock content %}



