{% extends "karioker/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata"  >
        <a class="mr-4" href="#">{{ object.performer }}</a>
        <small class="text-muted">  
          {% if user.is_staff %}
            <a class="ml-4", href="{%url 'event-update' event.id %}">  edit </a>
            <a class="ml-4", href="{%url 'event-delete' event.id %}" >  delete </a>
            {% if  event.event_status == 'BEFORE'  or   event.event_status == 'ACTIVE' %}
              <a class="ml-4", href="{%url 'event-join' event.id event_invitation_token%}" >  join </a>
            {% endif  %}
          {% endif  %}
          <a class="ml-4", href="{%url 'karioker-songs' %}?event_id={{event.id}}" >  pick a song </a>
          {%if event.event_status == 'BEFORE' %}
            <a class="mr-5 float-right"", href="{%url 'event-start' event.id %}"  >  Start Event </a> 
            <a class="mr-5 float-right"", href="{%url 'event-cancel' event.id %}"  >  cancel Event </a> 
          {% elif  event.event_status == 'ACTIVE' %}
            <button class="mr-3 float-right"  onclick="window.location.href='{%url 'event-end' event.id %}'">  End Event  </button> 
            <button class="mr-3 float-right"  onclick="window.location.href='{%url 'event-next-song' event.id %}'">  next song  </button> 
            <a class="mr-5 float-right"", href="{%url 'event-current-song' event.id %}"  >  current song </a> 
            <a class="mr-5 float-right"", href="{%url 'event-current-song-chords' event.id %}"  >  current song chords </a> 
          {% elif  event.event_status == 'AFTER' %}
            <button class="mr-3 float-right"  onclick="window.location.href='{%url 'event-start' event.id %}'">  Reopen Event  </button> 
            <button class="mr-3 float-right"  onclick="window.location.href='{%url 'event-reset' event.id %}'">  reset Event  </button> 
          {% elif  event.event_status == 'CANCELED' %}
            <a class="mr-5 float-right"", href="{%url 'event-reset' event.id %}"  >  reset Event </a> 
          {% endif  %}
        </small>
      </div> 
      {% if  event.event_status == 'CANCELED' %}
        <div style="background-color:darkred">
      {%elif event.event_status == 'ACTIVE' %}
        <div style="background-color:green">
      {%elif event.event_status == 'AFTER' %}
        <div  style="background-color:gray">
      {% else %}
        <div class="media-body">
      {%endif %}
        &nbsp;
      </div>
      <h2>{{ event}} - {{event.event_status}}</h2>
      {% if  event.event_status == 'BEFORE'  or   event.event_status == 'ACTIVE' %}
        to invite to the event, press copy and send the link to your fiends:   
        <button onclick="copy('Lorem ipsum dolor sit amet\nconsectetur adipiscing elit')">
              Copy Invitation
        </button>
        <script >
          function copy(text){
            var textarea = document.createElement("textarea");
            textarea.value = location.origin+"{%url 'event-join' event.id event_invitation_token%}";
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("event invitation link was copied, press ctrl+p  to paste it"); 
          }
        </script>
      {% endif  %}
    </div>
  </article>
  <div class="row">
    <div class="col-md-3">
      <div class="content-section">
        <h3>Guest List</h3>
        <p class='text-muted'>
          <ul class="list-group">
            {% for guest in guest_list %}
              <li class="list-group-item list-group-item-light">
                {{ guest.guest }}
              </li>
            {% endfor %}
          </ul>
        </p>      
      </div>
    </div>

    <div class="col-md-9">
      <div class="content-section">
        <h3>Song List</h3>
        <p class='text-muted'>
          <ul class="list-group">
            {% for song in event_song_list %}
              {%if song.status == 'CURRENT' %}
                <div  style="background-color:green">
                  {%elif song.status == 'LISTED' %}
                <div  style="background-color:white">
                  {%elif song.status == 'SANG' %}
                <div  style="background-color:gray">
              {%else%}
                <div style="background-color:white" >
              {% endif %}
              {%  if song.status == 'SANG' %}
                <li class="btn btn-secondary list-group-item disabled">
                  <a class="btn  " align="" href="{% url 'song-detail' song.song.id %}"> {{ song.song }} by {{ song.singer.guest}} </a> 
              {%  elif  song.status == 'LISTED'  %}
                <li class="btn btn-outline-dark list-group-item list-group-item-light">
                    <a class="btn  " align="" href="{% url 'song-detail' song.song.id %}"> {{ song.song }} by {{ song.singer.guest}} </a> 
                  {%  if song.singer.guest.id == user.id or user.is_staff %}
                  <a class="btn btn-outline-danger mr-1 float-right" href="{% url 'event-delete-song' song.id %}  ">Remove </a>
                  <a class="btn btn-outline-primary mr-2 float-right" href="{% url 'event-jump-to-song' event.id song.id %}  ">JumpTo </a>
                  {% endif%}
              {%else%}
                <li class="btn btn-outline-dark list-group-item list-group-item-primary">
                  <a class="btn  " align="" href="{% url 'song-detail' song.song.id %}"> {{ song.song }} by {{ song.singer.guest}} </a> 
                {% endif %}
              </li>
            <div>
            {% endfor %}
          </ul>
        </p>
      </div>
    </div> 
</div>
{% endblock content %}



