{% extends "karioker/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-4" href="#">{{ object.performer }}</a>
        <small class="text-muted">  
            {% if user.is_staff %}
              <a class="ml-4", href="{% url 'event-update' object.id %}">  edit </a>
              <a class="ml-4", href="{% url 'event-delete' object.id %}" >  delete </a>
            {% endif  %}
        </small>
      </div>
      <h2>{{ object.name }}</h2>
      <p class="article-content">{{ object.lyrics}}</p>
    </div>
  </article>

 <div class="row">
  <div class="col-md-6">
    <div class="content-section">
      <h3>Guest List</h3>
      <p class='text-muted'>

        <ul class="list-group">

    {% for guest in event_guests %}
          <li class="list-group-item list-group-item-light">
              <a class="nav-item nav-link" href="{% url 'song-create' %}">{{ guest.user.username }}</a>
          </li>
    {% endfor %}
        </ul>
      </p>      
    </div>
  </div>

  <div class="col-md-6">
    <div class="content-section">
      <h3>Song List</h3>
      <p class='text-muted'>
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">
              <a class="nav-item nav-link" href="{% url 'song-create' %}">Add New Song</a>
          </li>
          <li class="list-group-item list-group-item-light">
              <a class="nav-item nav-link" href="/admin/">Site Admin Page</a>
          </li>
          <li class="list-group-item list-group-item-light">
              <a class="nav-item nav-link" href="{% url 'event-create' %}">New Event</a>
          </li>
          <li class="list-group-item list-group-item-light">
              <a class="nav-item nav-link" href='#'>not set yet</a>
          </li>
        </ul>
      </p>
    </div>
  </div> 
    </div>

{% endblock content %}



